button.main{
    position:relative;
    top:1px;
    left:10px;
    width:67px;
    z-index:1;
    
}
#CodeArea{
    position: fixed;
    top: 15%;
    left: 10px;
    width: 95%;
    height: 35%;
    z-index:1;
}
#ac{
    position:absolute;
    overflow-y: scroll;
    width:100%;
    height:100%;
    z-index:1;
}
#ReplArea{
    position: fixed;
    top:58%;
    left: 10px;
    width: 95%;
    height: 35%;
    z-index:1;
}
#ar{
    position:absolute;
    overflow-y: scroll;
    width:100%;
    height:100%;
    z-index:1;
}

#FileList{
    border: 1px inset black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    z-index:2;
}

li{
    color:black;
}

li:hover{
    color:red;
}

#History{
    position:relative;
    top:5px;
    left:96%;
    z-index:5;
}