/*Context menu css */
.iw-contextMenu {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #E6E6E6;
	display:none;
	z-index:1000;
	overflow:auto;
}
.iw-cm-menu{
	background:#F4F4F4;
	color:#333;
	margin:0px;
	padding:0px;
	}

.iw-cm-menu li {
	list-style:none;
	padding:10px;
	padding-left:30px;
	padding-right:20px;
	border-bottom:1px solid #CCC;
	cursor:pointer;
	position:relative;
}
.iw-mOverlay{
	position:absolute; width:100%; height:100%; top:0px; left:0px;
	background:#FFF;
	opacity:.5;
	}
.iw-contextMenu li.iw-mDisable {
	opacity:.3;
}
.iw-mSelected {
	background-color:rgb(0,51,102);
	color:#F2F2F2;
}
.iw-cm-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-left:5px solid #333333; 
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-3px;
}
